{% extends 'base.html' %}


{% block content %}
    <div class="container py-5">
        <h1>{{ group.title }}</h1> 
        {% for group in groups %}
            <a href="{% url 'posts:group_list' group_list.slug %}">
                <ul>
                    <li>
                        Название группы: {{ group.title }}
                    </li>
                    <li>
                        Описание группы: {{ group.description }}
                    </li>
                </ul>
            </a>
        {% endfor %} 
    </div>
{% endblock %} 